#header {
    height: 100px;
    background-color:bisque;
}

#linkWrapper a{
    margin: 0 20px;
    font-family: 'Noto Sans Mono', monospace;
}

#headerTitle {
    position:relative;
    text-align: left;
    font-family: 'Noto Sans Mono', monospace;
}